@page "/bet"
@using Radzen
@using Radzen.Blazor

<!--Bets-->
<div class="container-fluid">
    
      <div class="card-header">
        <h1 align="center">BetZone</h1>

             <!--AddButton-->
    <div align="center">
        <button onclick=@CreateAndAddBet type="button" class="btn btn-primary btn-lg rounded-pill">
            Add New Bet
        </button>
      </div>
    </div>

      
    </div>


    <div class="card-body">
        <table class="table table-striped">

            <thead>
                <tr>
                    <th>Id</th>
                    <th>TransactionId</th>
                    <th>DateCreated</th>
                    <th>ScheduledDate</th>
                    <th>Address1</th>
                    <th>Address2</th>
                    <th>Event</th>
                    <th>SubEvent</th>
                    <th>Stake</th>
                    <th>Winner</th>
                    <th>Loser</th>
                    <th>IsDone</th>
                </tr>
            </thead>

        
            <tbody>
                @foreach (var bet in bets)
                {
                    <tr>
                        <td>@bet.Id</td>
                        <td>@bet.TransactionId</td>
                        <td>@bet.CreatedDateTime</td>
                        <td>@bet.ScheduledDateTime</td>
                        <td>@bet.Address1</td>
                        <td>@bet.Address2</td>
                        <td>@bet.Event</td>
                        <td>@bet.SubEvent</td>
                        <td>@bet.Stake</td>
                        <td>@bet.Winner</td>
                        <td>@bet.Loser</td>
                        <td>@bet.IsDone</td>             
                    </tr>
                }          
            </tbody>       

        </table>
</div>


