@page "/event"


<!--Events-->
<div class="container">
    <h2>Events:</h2>
            <table class="table table-striped table-bordered">

        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>DateCreated</th>
                <th>ScheduledDate</th>
                <th>SubEvents</th>
                <th>isDone</th>
            </tr>
        </thead>

        <!--
        <tbody>
            @foreach (var e in events)
            {
                <tr>
                    <td>@e.Id</td>
                    <td>@e.Name</td>
                    <td>@e.Description</td>
                    <td>@e.CreatedDateTime</td>
                    <td>@e.ScheduledDateTime</td>
                    <td>@e.SubEvents</td>             
                    <td>@e.IsDone</td>             
                </tr>
            }          
        </tbody>
        -->

    </table>
</div>

@code{
    private List<Event> events;
    private readonly MongoEventData eventData;
    private string selectedEvent = "All";

    protected async override Task OnInitializedAsync()
    {
        events = await eventData.GetEventsAsync();
    }

}