@page "/event"
@using Radzen
@using Radzen.Blazor


<!--Events-->
<div class="container-fluid">
      <div class="card-header rounded-3">
        <h1 align="center">Events</h1>

    <!--AddButton-->
    <div align="center">
        <button onclick=@CreateAndAddEvent type="button" class="btn btn-primary btn-lg  rounded-pill">
            Add New Event
        </button>
    </div>

      </div>
    </div>
    

  
    <div class="card-body">
    <table class="table table-striped table-bordered">

        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>DateCreated</th>
                <th>ScheduledDate</th>
                <th>SubEvents</th>
                <th>isDone</th>
            </tr>
        </thead>

        
        <tbody>
            @foreach (var e in events)
            {
                <tr>
                    <td style="word-break:break-all">@e.Id</td>
                    <td style="word-break:break-all">@e.Name</td>
                    <td style="word-break:break-all">@e.Description</td>
                    <td style="word-break:break-all">@e.CreatedDateTime</td>
                    <td style="word-break:break-all">@e.ScheduledDateTime</td>
                    <td style="word-break:break-all">@e.SubEvents</td>             
                    <td style="word-break:break-all">@e.IsDone</td>             
                </tr>
            }          
        </tbody>
       
    </table>
</div>


