@page "/event"
@using Radzen
@using Radzen.Blazor


<!--Events-->
<div class="container-fluid">
    <h2>Events:</h2>
    
        <!--AddButton-->
    <div align="right">
        <RadzenButton 
            Click=@CreateAndAddEvent 
            Text="Add New Event" 
            ButtonStyle="ButtonStyle.Primary">
        </RadzenButton>       
    </div>
  
    <div class="card">
    <table class="table table-striped table-bordered">

        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>DateCreated</th>
                <th>ScheduledDate</th>
                <th>SubEvents</th>
                <th>isDone</th>
            </tr>
        </thead>

        
        <tbody>
            @foreach (var e in events)
            {
                <tr>
                    <td>@e.Id</td>
                    <td>@e.Name</td>
                    <td>@e.Description</td>
                    <td>@e.CreatedDateTime</td>
                    <td>@e.ScheduledDateTime</td>
                    <td>@e.SubEvents</td>             
                    <td>@e.IsDone</td>             
                </tr>
            }          
        </tbody>
       
    </table>
    </div>
</div>

