@page "/organisation"
@using Radzen
@using Radzen.Blazor


<!--Organisations-->
<div class="container-fluid">

    <!--Title-->
    <div class="card">
      <div class="card-body">
        <h1 align="center">Organisations</h1>

            <!--AddButton-->
    <div align="center">
        <RadzenButton 
            Click=@CreateSampleOrganisations 
            Text="Add New Organisation" 
            ButtonStyle="ButtonStyle.Primary">
        </RadzenButton>       
    </div>

      </div>
    </div>

    <div class="card">
    <!--Table-->
    <table class="table table-striped table-bordered">

        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>DateCreated</th>
                <th>Events</th>
            </tr>
        </thead>
       
        <tbody>
            @foreach (Organisation org in organisations)
            {
                <tr>
                    <td>@org.Id</td>
                    <td>@org.Name</td>
                    <td>@org.Description</td>
                    <td>@org.CreatedDate</td>
                    <td>@org.Events</td>       
                </tr>  
            }
        </tbody>           

    </table>
    </div>
</div>