@page "/organisation"
@using Radzen
@using Radzen.Blazor


<!--Organisations-->
<div class="container">

    <!--Title-->
    <div align="left">
        <h2>Organisations:</h2>
    </div>

    <!--AddButton-->
    <div align="right">
        <RadzenButton 
            Click=@CreateSampleOrganisations 
            Text="Add New Organisation" 
            ButtonStyle="ButtonStyle.Primary">
        </RadzenButton>       
    </div>

    <!--Table-->
    <table class="table table-striped table-bordered">

        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>DateCreated</th>
                <th>Events</th>
            </tr>
        </thead>
       
        <tbody>
            @foreach (Organisation org in organisations)
            {
                <tr>
                    <td>@org.Id</td>
                    <td>@org.Name</td>
                    <td>@org.Description</td>
                    <td>@org.CreatedDate</td>
                    <td>@org.Events</td>       
                </tr>  
            }
        </tbody>           

    </table>
</div>