@page "/organisation"
@using Radzen
@using Radzen.Blazor


<!--Organisations-->
<div class="container-fluid">

    <!--Title-->
    <div class="card-header rounded-3">
        <h1 align="center">Organizations</h1>

            <!--AddButton-->
    <div align="center">
        <button onclick=@CreateSampleOrganisations type="button" class="btn btn-primary btn-lg rounded-pill">
            Add New Organization
        </button>
    </div>

      </div>
    </div>

    <div class="card-body">
    <!--Table-->
    <table class="table table-striped table-bordered">

        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>DateCreated</th>
                <th>Events</th>
            </tr>
        </thead>
       
        <tbody>
            @foreach (Organisation org in organisations)
            {
                <tr>
                    <td style="word-break:break-all">@org.Id</td>
                    <td style="word-break:break-all">@org.Name</td>
                    <td style="word-break:break-all">@org.Description</td>
                    <td style="word-break:break-all">@org.CreatedDate</td>
                    <td style="word-break:break-all">@org.Events</td>       
                </tr>  
            }
        </tbody>           

    </table>
</div>
