@page "/subevent"
@using Radzen
@using Radzen.Blazor


<!--SubEvents-->
<div class="container-fluid">
      <div class="card-header rounded-3">
        <h1 align="center">SubEvents</h1>

        <!--AddButton-->
    <div align="center">
        <button onclick=@CreateAndAddSubEvent type="button" class="btn btn-primary btn-lg rounded-pill">
            Add New SubEvent
        </button>
    </div>

      </div>
    </div>


    <div class="card-body">
    <table class="table table-striped table-bordered">

        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>DateCreated</th>
                <th>ScheduledDate</th>
                <th>isDone</th>
            </tr>
        </thead>

        
        <tbody>
            @foreach (var sub in subEvents)
            {
                <tr>
                    <td style="word-break:break-all">@sub.Id</td>
                    <td style="word-break:break-all">@sub.Name</td>
                    <td style="word-break:break-all">@sub.Description</td>
                    <td style="word-break:break-all">@sub.CreateDateTime</td>
                    <td style="word-break:break-all">@sub.ScheduledDateTime</td>
                    <td style="word-break:break-all">@sub.IsDone</td>             
                </tr>
            }          
        </tbody>
        

    </table>
</div>

