@page "/wallet"
@using Radzen

<!--Accounts-->
<div class="p-2 flex-fill bd-highlight">
    <div class="card">
      <div class="card-body">
        <h1 align="center">Wallet</h1>
      </div>
    </div>


    <div class="card">
    <table class="table table-striped table-bordered">

        <thead>
            <tr>
                <th>Id</th>
                <th>ObjectId</th>
                <th>Name</th>
                <th>DateCreated</th>
                <th>Public Key</th>
                <th>Description</th>
                <th>Reserves</th>
                <th>Locked</th>
                <th>PastBets</th>
                <th>PendingBets</th>
                <th>OpenBets</th>
            </tr>
        </thead>

        
        <tbody>
            @foreach (var account in accounts)
            {
                <tr>
                    <td>@account.Id</td>
                    <td>@account.ObjectIdentifier</td>
                    <td>@account.Name</td>
                    <td>@account.CreatedDate</td>
                    <td>@account.PublicAddress</td>
                    <td>@account.Description</td>
                    <td>@account.Reserves</td>
                    <td>@account.Locked</td>
                    <td>@account.PastBets</td>
                    <td>@account.PendingBets</td>
                    <td>@account.OpenBets</td>                 
                </tr>
            }          
        </tbody>
        

    </table>
    </div>
</div>

<button onclick=@ConnectToAccount type="button" class="btn btn-primary btn-lg">
    
    CreateKeyPair
    
</button>

    <h5>@if(@secretSeed != null) @secretSeed</h5>
    <h5>@if(@publicKey != null) @publicKey</h5>
    <h5>@if(@privateKey != null) @privateKey</h5>
    <h5>@if(@accountId != null) @accountId</h5>
    <h5>@if(@source != null) @source</h5>
    <h5>@if(@destination != null) @destination</h5>
    <h5>@if(@server != null) @server</h5>
